body {
    padding: 20px;
}

.container {
    margin: 0 auto;
    padding: 20px 20px 1px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
}

fieldset {
    border-radius: 10px;    
    background-color: #fafafa;
}

legend {
    font-size: 20px;
    font-weight: bold;
}

.logo {
    width: 150px;
    margin: 0 auto 10px;
    display: block;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 0 3px;
}
